.login__button{
    display: flex;
    width: 100%;
    height: 35px;
    border-radius: 10px;
    padding: 5px; 
    align-items: center; 
    background: rgb(243, 244, 246);

}

.reg__button {
    width: 350px;
    height: 30px;
    border: none;
    cursor: pointer;

}

.reg__button.active {
    background: #FFF; 
    border-radius: 8px;
}

