.content__card__logo{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 30px;
}

.content__card__logo__container{
  width: 80px;
  height: 80px;
  border-radius: 16px;
  background: linear-gradient(to bottom right, #155dfc, #4f39f6 );
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__card__logo__container svg{
    width: 35px;
    height: 35px;
    color: #FFFFFF;
}


.content__card__logo__ball{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background:#FCC800;
  border: 5px solid #FFFFFF;
  position: absolute;
  top: -7px;
  right: 140px;
}