
.login{
  display: flex;
}


.login-container{
    flex-direction: column;
    gap: 1rem;
    padding: 10px 0;
}
.form-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-btn {
  display: flex;
  align-items: center;
  gap: 12px;         /* optional spacing */
}
.btn-box{
  width: 48%;
}

