<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="./input-comp.js"></script>
    <title>Document</title>
</head>
<body>
    <input-component
    label="FullName*"
    type="text"
    id="full_name"
    placeholder="Enter your name"
    icon="/assets/images/mail.svg"
>
</input-component>
    <input-component
    label="Email*"
    type="email"
    id="user_email"
    placeholder="hello@example.com"
    icon="../../assets/images/envelope.svg"
>
</input-component>
    <input-component
    label="Email*"
    type="email"
    id="user_email"
    placeholder="hello@example.com"
    icon="/assets/images/mail.svg"
>
</input-component>
<img src="../../assets/images/" alt="">
</body>
</html>