.body__container{
    width: 100%;
    box-sizing: border-box;
    position: relative;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.background{
    position: absolute;
    inset: 0;
    z-index: 0;    
}

.content__container{
    position: relative;
    z-index: 10;            
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__wrapper {
    width: 430px;
    height: 650px;
    background: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: -5px 0 20px rgba(224, 223, 223, 0.45), 5px 0 20px rgba(224, 223, 223, 0.45);
    z-index: 11;  
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;     
}

.hidden{
    display: none;
}

._root {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #ffff;
    border-top: 1px solid oklch(0.872 0.01 258.338);
}
._root__aside-bar {
    width: 250px;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid oklch(0.872 0.01 258.338);
}
._root__footer {
     display: flex;
    align-items: center;        /* vertically align icon + text */
    gap: 12px;                  /* spacing between icon + text */

    position: fixed;
    bottom: 0;
    width: 249px;
    height: 75px;
    background-color: #ffffff;
    border-top: 1px solid oklch(0.872 0.01 258.338);
    padding: 0 20px;           
}

._root__footer p {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: rgb(193, 0, 22);
    cursor: default;
}

