.dashboard__container {
  padding: clamp(12px, 3vw, 30px);   
  max-width: 1420px;
  width: 100%;                      
  margin: 0 auto;                    
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  gap: clamp(12px, 3vw, 30px);

  font-family: ui-sans-serif, system-ui, sans-serif;
}


.dashboard-header {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: left;
    text-align: left;
    margin-bottom: 40px;
}

.dashboard-header h1 {
    margin: 0;
    font-size: 28px;
    line-height: 1.5;
}

.dashboard-header p {
    margin: 0;
    font-size: 16px;
    color: oklch(0.446 0.03 256.802);
}


.dashboard-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; 
    justify-content: center; 
     margin-bottom: 30px;
}

.dashboard__event{
    display: flex;
   gap: 25px;
   flex-wrap: wrap; 
    justify-content: center; 
}
