.task__container{
  width: 1040px;
  height: 500px;
  box-sizing: border-box;
  border: 1px solid oklch(0.872 0.01 258.338);
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0,0,0,0.05);
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: ui-sans-serif, system-ui, sans-serif;
}

.task__header{
  width: 100%;
  height: 95px;
  border-bottom: 1px solid oklch(0.872 0.01 258.338);
  background-color: #f9fafb;
 
}

.task__logo__container {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: default;
    margin: 20px;
}

.task__logo {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #155dfc, #4f39f6);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.task__text {
  display: flex;
  flex-direction: column;
  line-height: 1.8;
}


.task__text > p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  list-style: 1.5;
}

.task__text span {
  font-size: 13px;
  color: gray;
}

.btn_task-management{
    display: flex;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    padding: 5px; 
    align-items: center; 
    background: rgb(243, 244, 246);
    margin: 20px;
    margin-top: 40px;

}

.task__summary_btn {
    width: 360px;
    height: 30px;
    border: none;
    display: flex;
  align-items: center;    
  border-radius: 8px;
  cursor: pointer;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
}

.task__summary_btn.active {
    background: #FFF; 
    border-radius: 8px;
}

.task__stat{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px;
  margin-top: 18px;
  align-items: center;
}

.task__card{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.task__field{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  align-items: center;
}

.task__field value{
    font-size: 30px;
  font-weight: 500;
}

.task__field span {
  font-size: 13px;
  color: gray;
}

.task__field + .task__field::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 25px;
  background-color: oklch(92.042% 0.00214 14.507);
  left: -10px;
  top: 5px;         
}

#task__completed{
  color: oklch(0.627 0.194 149.214);
}

.task__stat button{
   width: 110px;
    height: 35px;
    border-radius: 8px;
    background: linear-gradient(to bottom right, #155dfc, #4f39f6);
    color: #fff;
    border: none;
    gap: 4px;
}

.task__history{
  width: 980px;
  height: 170px;
  border: 2px dashed oklch(0.872 0.01 258.338);
  box-sizing: border-box;
  border-radius: 8px;
  margin: 0 auto;
  background-color: #f5f8fd;
 
}

.task__history__comment{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 20px auto;      
  padding: 10px; 
  gap: 10px;
}

.task__history__circle{
  width: 43px;
  height: 43px;
  border: 4px solid oklch(0.785 0.115 274.713);
  border-radius: 50%;

  
}

.task__history__text{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  color: #64748B;
}