.task__container{
  width: 1040px;
  height: 500px;
  box-sizing: border-box;
  border: 1px solid oklch(0.872 0.01 258.338);
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0,0,0,0.05);
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: ui-sans-serif, system-ui, sans-serif;
}

.task__header{
  width: 100%;
  height: 80px;
  border-bottom: 1px solid oklch(0.872 0.01 258.338);
}

.task__history{
  width: 980px;
  height: 170px;
  border: 2px dashed oklch(0.872 0.01 258.338);
  box-sizing: border-box;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 220px;
  background-color: #f5f8fd;
 
}
